@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-info">
    <h1 class="display-4">Willkommen auf meiner WebApp</h1>
    <p>Diese Webseite wird in den nächsten Wochen und Monaten mit mehr und mehr Informationen und Features ausgestattet</p>

    <p>MfG Michael Schwaner</p>
</div>
