@{
	ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
	<title>MS-IT Webseite</title>
</head>
<body>
	<div class="container-fluid">
		<div id="flexContainer" class="d-sm-flex ">

			<img class="col-12" id="mainImages" src="~/content/pictures/laptopImage.jpg" alt="picture of a laptop" />
			<div id="smallContentDiv" class="col-12">
				<h2>Hallo Besucher!</h2>
				<p id="pSmall">
					Willkommen auf meiner kleinen bescheidenen Webseite / Web-App.<br />
					Diese Internetpräsenz ist für mich als Langzeitprojekt gedacht, um meine Fähigkeiten, vor allem, in den Bereichen ASP.Net, C#<br />
					und Webentwicklung auszubauen.
					Die Web-App wird nach und nach mit einem Design versehen und mit weiteren Features bedacht.<br />
					Was geplant ist, kann unten auf der Landing-Page nachgeschlagen werden.<br />

					Kontaktdaten und weitere Informationen gibt es in den nächsten Tagen im "Über mich" Teil der Webseite.<br />
				</p>
			</div>
		</div>


		<div id="flexContainer" class="d-sm-flex ">
			<div id="contentRowDiv" class="col-12">
				<p id="pBig">
					<strong>Bisher geplante Features und Inhalte (Unterliegt dem Wandel):</strong>
				</p>
				<ul id="featureUl" class="flex-lg-wrap">
					<li>"Über mich" Sektion mit persönlichen Informationen und einer Übersicht an Kontaktmöglichkeiten</li>
					<li>Weitere Designarbeit an der Webpräsenz</li>
					<li>Wetterbericht Sektion wird gestaltet und mit mehr Informationen gefüttert.</li>
					<li>Nachrichtensektion mit lokalen Nachrichten und Städteauswahl.</li>
					<li>Datenbankanbindung im Zuge der Implementierung eines Loginsystems</li>
					<li>Blog-Funktion für mich, um aktuelle News zu IT-Themen (persönlich) zu posten.</li>
				</ul>
			</div>
		</div>

		<div id="flexContainer" class="d-sm-flex ">

			<img class="col-12" id="mainImages" src="~/content/pictures/help.jpg" alt="note on a laptop that says help" />
			<div id="smallContentDiv" class="col-12">
				<p id="pSmall">
					Ich bitte um Verständnis, dass der Inhalt auf dieser Seite dauernd im Wandel und im Aufbau ist.<br />
					Einige Features sehen noch nicht toll aus und generell ist noch nicht viel zu sehen. <br />
					Das liegt unter anderem daran, dass ich an diesem Projekt lerne. Viel lerne! Und das sieht man vermutlich auch.<br />
					<br />
					Ich erarbeite mir jede Kleinigkeit mittels Recherche, Büchern und Udemy-Kursen.<br />
					Mir macht das Ganze unglaublich viel Spaß, ich hoffe, dass man das sehen kann. :-)
				</p>
			</div>
		</div>




	</div>
</body>
</html>