html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


html {
    position: relative;
    min-height: 100%;
    box-sizing:border-box;
}

body {
    margin-bottom: 60px;
    margin-top: 8%;
}


nav div {
    background-color: #d6e3d8;
    margin: -10px;
    padding-top: 5px;
    padding-left: 40px;
}

#navDiv {
    margin: 11px;
}



#mainImages {
    max-width: 500px;
    max-height: 400px;
}


img{
    margin-left:0px;

}

footer{
    padding-left:45%;
}

#pSmall {
    padding: 5% 5% 5% 5%;
    text-align: justify;

}

#pBig {
    padding: 5% 5% 5% 5%;
    text-align: justify;
    background-color: #d6e3d8;

}

div{
    overflow: hidden;

}

#flexContainer{
    margin-left:-1%;
    margin-right:-1%;
    margin-bottom:-1%;
}